* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.main-body {
  max-width: 500px;
  height: 100dvh;
  background-color: #051e05;
  margin: 0 auto;
}

.mb {
  width: 100%;
}

.mb-top {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mb-top p {
  font-size: 3rem;
  color: rgb(200, 200, 200);
}

.mb-center {
  height: 40%;
}

.mb-bottom {
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn-selection {
  width: 80px;
  height: 80px;
  margin: 0 10px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px black;
}

.mb-center {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.hidden {
  display: none;
}

.winner-text {
  width: 300px;
  max-width: 500px;
  height: 100px;
  background-color: #051e05;
  position: absolute;
  top: calc(50dvh - 50px);
  left: calc(50dvw - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.zone {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
  border: 1px solid black;
}
