* {
  color: whitesmoke;
  font-family: "Lemon", cursive;
}

body {
  background: rgb(25, 25, 25);
}

img {
  background-image: url("./src/matrix.gif");
  filter: blur(4px);
  -webkit-filter: blur(4px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: -1 !important;
  position: absolute;
}

.main-holder {
  background-color: rgb(25, 25, 25);
  background-color: rgb(25, 25, 25, 0.2);
}

body .game-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.header-text {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  z-index: 2;
}

h1 {
  text-align: center;
}

h3 {
  margin-bottom: 4px;
}

p {
  text-align: center;
  word-wrap: normal;
  margin: 4px;
}

.playground {
  display: flex;
  justify-content: space-around;
  z-index: 2;
}

.player {
  width: 45%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.guess {
  width: 60%;
  height: 50%;
  text-align: center;
  font-size: 32px;
}

button {
  background-color: white;
  color: black;
  text-align: center;
}

button:active {
  background-color: gainsboro;
  color: black;
}

.check {
  width: 100%;
  height: 25%;
}

.computer {
  width: 45%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.computer-selection {
  font-size: 64px;
}

body .result-box {
  margin: 0 auto;
}

.result-box {
  width: 90vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-text {
  font-size: 28px;
  word-wrap: break-word;
}

body .start-game {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

.start-game {
  width: 90%;
  height: 35px;
  color: black;
}

.start-game:active {
  color: black;
  background-color: gainsboro;
}

input,
textarea {
  background-color: rgb(25, 25, 25);
  border: 4px solid;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 16px;
    word-wrap: normal;
    text-align: center;
  }
}
