* {
  color: whitesmoke;
  font-family: 'Lemon', cursive;
}

body {
  background: rgb(25, 25, 25);
}

/* body .main-holder {
  width: 95vw;
} */

body .game-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-text {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

h3 {
  margin-bottom: 4px;
}

p {
  text-align : center;
  word-wrap:normal;
  margin: 4px;
}

.playground {
  display: flex;
  justify-content: space-around;
}

.player {
  width: 45%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.guess {
  width: 60%;
  height: 50%;
  text-align: center;
  font-size: 32px;
}

.check {
  width: 100%;
  height: 25%;
  color: black;
  text-align: center;
}

.check:active {
  background-color: gainsboro;
  color: black;
}

.computer {
  width: 45%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.computer-selection {
  font-size: 64px;
}

body .result-box {
  margin: 0 auto;
}

.result-box {
  width: 90vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-text {
  font-size: 28px;
  word-wrap: break-word;
}

body .start-game {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

.start-game {
  width: 90%;
  height: 35px;
  color: black;
}

.start-game:active {
  color: black;
  background-color: gainsboro;
}

input,
textarea {
  background-color: rgb(25, 25, 25);
  border: 4px solid;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 16px;
    word-wrap: normal;
    text-align: center;
  }

  /* h3 {
    font-size: 16px;
  }

  .game-header p {
    font-size: 8px;
  }

  .guess {
    text-align: center;
    font-size: 8px;
    background-color: black;
  }

  .check {
    text-align: center;
    font-size: 5px;
  }

  .result-text {
    font-size: 16px;
  }

  .start-game {
    font-size: 8px;
  } */
}
